

    <!-- Banner -->
    <header id="sec0">
      <div class="content">
        <div class="text-content">
          <p>Hello Muiz,</p>
          <br />
          <h1>
            Be unique in creating the book,<br />
            the world loves
          </h1>
          <a href="#">Create Book Now</a>
        </div>
      </div>
    </header>
    <!-- Recently checked -->
    <section id="sec1">
      <div class="header">
        <h1>Recently Viewed</h1>
        <a href="#">View All</a>
      </div>
      <div class="projects">
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Ebook Cover Design for self publishers</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book5.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Edit this book cover</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book2.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Ebook Cover Design for self publishers</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book3.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Ebook Cover Design for self publishers</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book4.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Ebook Cover Design for self publishers</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book5.jpg" alt="" />
            <div class="icons">
              <a href="#"><i class="far fa-heart"></i></a>
              <a href="#"><i class="fas fa-share"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </div>

          <div class="content">
            <h1>Ebook Cover Design for self publishers</h1>
            <p>Created on January 2, 2002</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Completed -->
    <section id="sec2">
      <div class="header">
        <h1>Completed</h1>
        <a href="#">View All</a>
      </div>
      <div class="cards">
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book5.jpg" alt="" />
          </div>
          <div class="content">
            <div class="text-content">
              <h1>How to drop shipping in 2020</h1>
              <p>Created on January 2, 2002</p>
            </div>
            <div class="icon-content">
              <div class="cast1">
                <a href="#" class="first"><i class="fas fa-share"></i></a>
                <a href="#"><i class="fas fa-download"></i></a>
              </div>
              <div class="cast2">
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book1.jpg" alt="" />
          </div>
          <div class="content">
            <div class="text-content">
              <h1>How to drop shipping in 2020</h1>
              <p>Created on January 2, 2002</p>
            </div>
            <div class="icon-content">
              <div class="cast1">
                <a href="#" class="first"><i class="fas fa-share"></i></a>
                <a href="#"><i class="fas fa-download"></i></a>
              </div>
              <div class="cast2">
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book2.jpg" alt="" />
          </div>
          <div class="content">
            <div class="text-content">
              <h1>How to drop shipping in 2020</h1>
              <p>Created on January 2, 2002</p>
            </div>
            <div class="icon-content">
              <div class="cast1">
                <a href="#" class="first"><i class="fas fa-share"></i></a>
                <a href="#"><i class="fas fa-download"></i></a>
              </div>
              <div class="cast2">
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book3.jpg" alt="" />
          </div>
          <div class="content">
            <div class="text-content">
              <h1>How to drop shipping in 2020</h1>
              <p>Created on January 2, 2002</p>
            </div>
            <div class="icon-content">
              <div class="cast1">
                <a href="#" class="first"><i class="fas fa-share"></i></a>
                <a href="#"><i class="fas fa-download"></i></a>
              </div>
              <div class="cast2">
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="image">
            <img src="../../../../assets/images/book/book4.jpg" alt="" />
          </div>
          <div class="content">
            <div class="text-content">
              <h1>How to drop shipping in 2020</h1>
              <p>Created on January 2, 2002</p>
            </div>
            <div class="icon-content">
              <div class="cast1">
                <a href="#" class="first"><i class="fas fa-share"></i></a>
                <a href="#"><i class="fas fa-download"></i></a>
              </div>
              <div class="cast2">
                <a href="#"><i class="fas fa-ellipsis-v"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
