<nav id="sec1">
    <div class="content">
      <div class="brand">
        <a routerLink="/"><img src="assets/images/logo.png" alt="Logo" /></a>
      </div>
      <div class="nav-items">
        <ul>
          <li class="link-0">
            <a routerLink="/author-profile">Dashboard</a>
          </li>
          <li class="link-1"><a routerLink="/upload-book">Listen Audio</a></li>
          <li class="link-2">
            <a routerLink="/login" >Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <section id="sec1b">
    <div class="content">
      <div class="hero-content">
        <h1>Bring thoughts on paper</h1>
        <h3>From imagination to reality</h3>
        <div class="register">
          <input type="text" placeholder="Enter your email address" />
          <a routerLink="/register">Create Book Now</a>
        </div>
        <p>
          Try Flatpage, Its free for lifetime, no credit card required. By
          entering your email, you agree to receive emails from FlatPage.
        </p>
      </div>
      <div class="img">
        <img src="assets/images/dashboard-hero.PNG" alt="" />
      </div>
    </div>
  </section>

  <section id="sec3">
    <div class="banner-content">
      <i class="fas fa-sign-language fa-2x"></i>
      <p>FLATPAGE OFFER</p>
      <h1>
        All in one tool for author's to build
        <span>professional e-Books</span>
      </h1>
    </div>
  </section>

  
  <section id="sec4">
    <div class="content">
      <div class="row">
        <h1>Ideas</h1>
        <p>
          This web application helps creative people to explore their creativity
          by creating stunning limited eBooks.
        </p>
      </div>
      <div class="row">
        <h1>Thoughts</h1>
        <p>
          Flatpage allows young and unexperienced people to use their thoughts and
          write personal books at a glance.
        </p>
      </div>
      <div class="row">
        <h1>Experience</h1>
        <p>
          This application is also for professional and skilled people who want to
          share their skills at expert level.
        </p>
      </div>
    </div>
  </section>

  
  <section id="sec5b">
    <div class="content">
      <div class="textual-content">
        <i class="fas fa-recycle fa-2x"></i>
        <h1><span>Write</span> without distraction</h1>
        <p>
          We aim to provide extremely concise and to the point interface for
          author ease. So author can focus on his work without getting involved in
          side distractions
        </p>
      </div>
      <img src="assets/images/dist.jpg" alt="Avoid distraction loading.." />
    </div>
  </section>

  
  <section id="sec6">
    <div class="content">
      <div class="left-image-banner">
        <div class="card">
          <h3>Get daily reminders by following newsletter</h3>
          <input type="text" placeholder="Email Address" /><br />
          <a href="#">Subscribe</a>
        </div>
      </div>
  
      <div class="textual-content">
        <h1>What we offer?</h1>
        <div class="row">
          <i class="fas fa-microphone-slash"></i>
          <p>
            <strong>Voice Recognition</strong> It allows authors to use speech to
            automatically write the pages of the eBook.
          </p>
        </div>
        <div class="row">
          <i class="fas fa-globe-africa"></i>
          <p>
            <strong>Multi Language Support</strong> Apart from english Author can
            also create a book in urdu language. Once book is published it can
            also be compiled into flatpage build in languages
          </p>
        </div>
        <div class="row">
          <i class="fas fa-scroll"></i>
          <p>
            <strong>Easy drag and drop tools</strong> We aim to provide author
            extremely easy way to create an ebook using simple drag and drop tool
            and components available in editor screen.
          </p>
        </div>
      </div>
    </div>
  </section>

  
  <section id="sec5b">
    <div class="content">
      <div class="textual-content">
        <i class="fas fa-rocket"></i>
        <h1><span>AI</span> based voice recognition</h1>
        <p>
          Our application is AI enrich which includes features like text to audio
          and audio to text for author ease. Further more we will also like to
          provide them an easy way to create top notch book just by using voice.
          No extra tool needed!
        </p>
      </div>
      <img src="assets/images/voice-rec.jpg" alt="Avoid distraction loading.." />
    </div>
  </section>

  <section id="sec7">
    <div class="content">
      <div class="textual-content">
        <p>What are you waiting for?</p>
        <h1>Build audience with your words, It's Free</h1>
        <a routerLink="dashboard">Try Now</a>
      </div>
    </div>
  </section>
    
  <footer id="sec8">
    <div class="content">
      <div class="textual-content">
        <h3>Your journey towards excellence</h3>
        <p>Follow to get daily notifications</p>
        <div class="social-icons">
          <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com">
            <i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.linkedin.com"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a href="https://www.dribbble.com/muizulhassan"
            ><i class="fab fa-dribbble"></i
          ></a>
        </div>
        <div class="footer-links">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/docs">Docs</a></li>
            <li><a routerLink="/about">About</a></li>
          </ul>
        </div>
        <p class="copyright">Copyrights Reserved @2021-2022 - Flatpage</p>
      </div>
    </div>
  </footer>
  